@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.switch_btn {
  margin: 40px 0;
  width: 70px;
  height: 70px;
  position: relative;
  left: calc(100% - 60px);
  cursor: pointer;
}

.material-icons {
  font-size: 70px;
  color: #5f6368;
  user-select: none;
}
